:root {
  font: 16px / 1 sans-serif;
}

ul {
  list-style: none;
}

.main {
  background-color: aqua;
}
section {
  margin: 1rem;
  min-height: 100vh;
}

.nav ul {
  display: flex;
  justify-content: flex-end;
}

.nav ul li {
  margin: 0.25rem;
}
.title {
  display: flex;
  justify-content: center;
  margin: auto;
}

#one {
  display: flex;
  justify-content: space-between;
  background-color: yellow;
}

#one div {
  width: 30rem;
  margin: auto;
}

#one img {
  margin: auto;
}

#two {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: green;
}

#two ul {
  display: flex;
}

#two ul li {
  margin: 1rem;
}

#three {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: purple;
}

#three ul {
  display: flex;
  margin: auto;
}
#three ul li {
  margin: 1rem;
}
